* {
  box-sizing: border-box;
}

body {
  background: #555555;
}

#form {
  width: 500px;
  border-radius: 5px;
  margin: 12vh auto 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
}

#form h1 {
  color: black;
  text-align: center;
}

.input-control input {
  width: 100%;
  margin: 2px;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #555555;
  border-radius: 5px;
}

.input-control.success input {
  border-color: #00ff00;
}
.input-control .error {
  font-size: 10px;
  color: #ff0000;
}

.input-control.error input {
  border-color: #ff0000;
}

.button-submit {
  cursor: pointer;
  color: white;
  background-color: blue;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  margin-top: 5px;
}

.button-cancel {
  cursor: pointer;
  color: white;
  background-color: red;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  margin-top: 5px;
}
